body {
    background-color: lightslategray;
}


#main-title,
#task-filters-title,
#task-actions-title,
#weather-title,
#tasks-list-title,
#category-stats-title {
    text-align: center;
    color: rgb(3, 3, 48);
}



#task-stats-container, #category-stats-container, #task-completion-percentage-container {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

#category-stats-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#task-filters-container,
#task-actions-container,
#tasks-list,
#weather-card {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}




#filter-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.task-filter-button {
    min-width: 10%;
    padding: 10px;
    text-align: center;
    background-color: lightslategray;
    color: white;
    border: none;
    border-radius: 5px;
}





#task-actions-buttons-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.task-action-input {
    margin-inline: 20px;
    padding: 10px;
    min-width: 52%;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#task-actions-buttons-container button {
    background-color: lightslategray;
    color: white;
}

#task-actions-buttons-container input {
    min-width: 30%;
    border: 1px solid black;
}


#weather-card,
#task-stats-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#weather-card p {
    background-color: lightslategray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

.task-stats, .category-stats {
    background-color: lightslategray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}


#tasks-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tasks-list li {
    background-color: lightslategray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    list-style: none;
}


.btn-container {
    float: right;
}

.delete-btn, .edit-btn {
    min-width: 5%;
    margin-right: 8px;
    padding: 5px 15px;
    background-color: rgb(15, 44, 72);
    color: white;
    border: none;
    border-radius: 5px;

}

.edit-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 142, 149);
    padding: 5px;
    border-radius: 5px;
    margin: 10px auto;
    gap: 10px 40px;
    text-align: center;
}

.edit-form input {
    background-color: rgb(215, 223, 232);
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.edit-form-select {
    background-color: rgb(215, 223, 232);
    width: 83%;
    margin: 10px auto;
    margin-bottom: 25px;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
}


#get-weather-button {
    background-color: rgb(49, 54, 60);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    min-width: 10%;
    margin-bottom: 10px;
}


#search-filter-container {
    display: flex;
    justify-content: center;
}


#search-bar {
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px auto;
    padding: 10px;
    min-width: 30%;
    text-align: center;
}

#progress-bar-container {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    margin: auto;
    overflow: hidden;
    text-align: center;
    line-height: 1.8em;
}

#progress-bar {
    width: 0%;
    background-color: rgb(71, 208, 121);
    height: 100%;
    transition: width 5s ease-in-out;
    
}





